.container{
    margin-top: 3rem;
    background-color: #C8C8C8;
}
.courseDuration, .courseStart{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0 0.5rem;
    font-size: 0.9rem;
}
.courseDuration img{
    height: 1rem;
}
#duration{
    color: #F8A711;
}
#start{
    color: #2767DC;
}
.tuition{
    font-size: 0.9rem;
}
#fee{
    color: #62B130;
    text-decoration: line-through;
    margin: 1rem 0;
}
.courseSteps{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem 0;
}
.step p:nth-child(1){
    color: #F8A711;
    font-size: 0.8rem;
}
.stepsContainer{
    margin: 2rem 0;
}
.step p:nth-child(2){
    font-size: 0.9rem;
}

.apply{
    display: flex;
    gap: 1rem;
}
.apply button{
    background-color: #F8A711;
    color: white;
    padding: 0.4rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}
.apply p{
    font-size: 0.9rem;
    max-width: 500px;
}