.studentStats{
    margin-top: 2rem;
}
.studentCoursesContainer{
    margin: 3rem 0;
}
.studentCourses{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    row-gap: 1rem;
    margin-top: 1rem;
}
.studentCourses > div{
    padding: 0.5rem;
    position: relative;
    height: 320px;
}
.courseImg img{
    width: 220px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: auto;
}
.studentCourses h3{
    max-width: 200px;
    margin: 0.5rem 0;   
}
.studentCourses p{
    max-width: 200px;
    font-size: 0.8rem;
    margin: 0.5rem 0;
}
.studentCourses a{
    margin-top: 1rem;
    color: #F8A711;
    border: 1px solid #F8A711;
    background-color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    font-weight: bold;
    position: absolute;
    bottom: 3%;
}
.studentCourses a:hover{
    color: white;
    background-color: #F8A711;
    cursor: pointer;
    
}