.cont {
  width: 100%;
  background-color: #c8c8c8;
}
.long {
  border-radius: 15px;
  height: 57px;
  margin-bottom: 20px;
  background-color: #ffffff;
  margin-left: 15px;
  overflow: hidden;
  width: 98%;
}
.long input {
  height: 18px;
  width: 295px;
  background-color: #e4e4e4;
  border-radius: 10px;
  border: none;
  margin: 11px 20px 0 20px;
}
.wrap {
  display: flex;
  margin-left: 15px;
}
.sec1 {
  width: 70%;
}
.video {
  height: 600px;
  width: 600px;
  border-radius: 25px;
  border: 1px solid black;
  overflow: hidden;
}
.video iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
