.Cont{
  display: flex;
  height: 100vh;
  background-color: #e9ebed;
  overflow-y: auto;
}
.nav{
  width: 20%;
  height: 100vh;
  background: white;
}
li {
  list-style: none;
}
a {
  color: #000000;
}
.wrap {
  width: 60%;
  margin: auto;
}
.logo {
  background-color: #f8a711;
  display: flex;
  align-items: center;
  justify-content: center;
 gap: 0.5rem;
  color: rgb(172, 138, 138);
  font-size: 25.2px;
  margin-bottom: 30px;
  height: 5rem;
}
.logo img {
  height: 42px;
  width: 42px;
}
.Log {
  margin: 10px 0 40px 0;
}
.drop {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.linko {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: 15px;
  height: 46px;
  width: 211px;
}
.linko:hover {
  background-color: #e9e9e9;
}
.linko :active {
  background-color: #e9e9e9;
}
.linko p {
  font-size: 16px;
}
.linko div {
  height: 28px;
  width: 28px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.list li {
  margin-top: 15px;
}
.Cont main{
  width: 80%;
}

/* ----------------------------------------------------------------MOBILE RESPONSIVENESS----------------------------------------- */
@media screen and (max-width: 1024px){
  .nav{
    width: 20%;
  }
  .logo h3{
    font-size: 1.2rem;
  }
  .logo > img{
    font-size: 1.2rem;
  }
  .link{
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width : 600px){
  .nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 60%;
    transform: translateX(-100%);
    transition: all 400ms ease;
  }
  .nav.active{
    transform: translateX(0);
  }
  .logo{
    position: relative;
  }
  .close{
    display: block;
    position: absolute;
    top: 5%;
    right: 3%;
    color: red;
    font-size: 1.2rem
  }
  .link{
    justify-content: center;
  }
  
  .Cont > main{
    width: 100%;
  }
}
