.container{
    position: relative;
}
.container.noOverflow{
    height: 100vh;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 5rem;
    left: 0%;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(206, 159, 159, 0.3), rgba(0,0,0,0.6));
    z-index: 300;
}
.certificateContainer{
    background-color: white;
    width: fit-content;
    margin: 2rem auto;
    padding: 3rem;
    border: 1px solid #F8A711;
    border-radius: 1.5rem;
}
.certificateContainer > h2{
    color: #F8A711;
    font-size: 2rem;
}
.certificateContainer > p{
    margin: 1rem 0;
}
.certificateContainer > div > button{
    margin: 1rem auto;
    width: 60%;
}
.claimReward{
    background-color: #F8A711;
    border: none;
    outline: none;
    width: 60%;
    display: block;
    margin: auto;
    padding: 1rem 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.claimReward:disabled{
    background-color: #ccc;
}
.blockchainLink{
    /* background-color: green; */
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 1.2rem;
}
.blockchainLink a{
    color: blue;
    text-decoration: underline;
}

.noCertificateCont{
    min-height: 70vh;
    position: relative;
}

.noCertificate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.noCertificate img{
    display: block;
    margin: 0.5rem auto;
}


/* --------------------------------------------MOBILE RESPONSIVENESS---------------------------------------------- */
@media screen and (max-width: 600px){

    .container{
        /* padding: 1rem  */
    }
    .certificateContainer{
        padding: 1rem;
        
    }
}