.container {
    width: 1440px;
    height: 1024px;
    background:  #EFF2F8;
}

.adminNav {
    width: 1440px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 2rem 4rem;
    gap: 0.5rem;
}

.logo h3{
    color: #F8A711;
    font-size: 1.3rem;
} 

.logo img {
    background-color: #F8A711;
}

.nav {
   display: flex;
   align-items: center;
   margin-left: 58rem;
}

ul li{
    padding-right: 20px;

}

.active {
    color: #F8A711;
}

.main {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    margin: 100px 20px 20px 20px;
}

.textBox h1 {
    font-size: 32px;
    width: 300px;
    padding-bottom: 10px;
}

.textBox p {
    font-size: 16px;
    width: 450px;
}

.inputContainer {
    width: 550px;
    height: 600px;
    background: #FFFFFF;
    margin-top: 50px;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
}

.InputPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 25px;
    width: 410px;
    height: 470px;
    border-radius: 10px;
}

form {
    padding: 55px;
}

form h1 {
    padding-bottom: 20px;
    padding-top: 30px;
}

form p {
    padding-top: 10px;
    float: none;
    text-align: center;
    color: #000;
}

span {
    color: #F8A711;
}

.LabelItem {
    width: 44px;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    padding-top: 50px;
}

