.container{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.imageArea img{
  width: 400px;
}
.formContainer {
  background-color: white;
  width: 500px;
  padding: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1px solid #F8A711;
}
.formContainer > h2 {
  color: #F8A711;
  text-align: center;
}

.formContainer > h4 {
  color: #070000;
  text-align: center;
  font-weight: normal;
  margin-top: 15px;
}
.formTitle {
  /* font-size: 0.8rem; */
  margin-top: 2rem;
  color:#86B7F4;
  font-weight: bolder;
}
.form {
  margin: 2rem 0;
}
.dataMessage{
  display: block;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: red;
  animation: anim 1s ease;
}
.inputGroup{
  margin-bottom: 15px;
}
.inputGroup label {
  font-size: 12px;
  display: block;
}
.inputGroup input, .inputGroup select {
  padding: 10px;
  display: block !important;
  margin: auto !important;
  background-color: transparent;
  border-radius: 3px;
  outline: none;
  border: 1px solid #2767DC;
  width: 100%;
}
.usersName, .passwordGroup{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.usersName .inputGroup, .passwordGroup .inputGroup{
  width: 100%;
}

.inputGroupPassword{
  position: relative;
}
.inputGroupPassword input{
  padding: 10px 22px 10px 10px
}
.inputGroupPassword img{
  position: absolute;
  right: 2%;
  top: 50%;
  height: 1rem;
  z-index: 10;
  cursor: pointer;
}
.inputGroup .error{
  font-size: 0.6rem;
  color: red;
}   
.formContainer .done {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px auto 0;
  padding: 10px 0px;
  color: white;
  text-decoration: none;
  gap: 1rem;
  font-size: 14px;
  font-weight: 500;
  background-color: #F8A711;
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
} 
.done.disabled{
  background-color: #ccc;
  cursor: default;
} 
.formContainer  .previous {
  width: 100%;
  display: block;
  color: #F8A711;
  font-weight: 600;
  padding: 10px 0px;
  margin: 20px auto;
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #F8A711;
  text-align: center;
  border-radius: 6px;
  transition: all 400ms ease;
}    
.formContainer .previous:hover{
  background-color: #F8A711;
  color: white;
  border-color: transparent;
}
.done img{
  height: 1.5rem;
}
/* ---------------------------------------------------------------- MEDIA RESPONSIVENESS-------------------------------------------- */
@media screen and (max-width : 600px) {
  .container{
    flex-direction: column;
    gap: 2rem;
  }
  .imageArea img{
    width: 350px;
  }
  .formContainer{
    width: 350px;
    margin: auto;
  }

}
@media screen and (max-width : 390px) {
  .imageArea img{
    width: 300px;
  }
  .formContainer{
    width: 300px;
    margin: auto;
  }
}