.mainBody {
    background-color: #b0c4dd;
    overflow-x: hidden;
    }
    
    .mainContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    
    .imageArea {
      max-width: 40%;
      display: flex;
      flex-direction: column;
      right: 50px;
      justify-content: space-evenly;
    }
    
    .logoImage {
      width: 160px;
      height: auto;
    }
    
  .loginImage {
      width: 400px;
      height: auto;
      left: 57px;
      top: 57px;
    }
  
    .formArea {
      max-width: 60%;
      display: flex;
      right: 50px;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .formContainer {
      width: 400px;
      height: 80vh;
      padding: 20px;
      top: 57px;
      background-color: #fff;
      border-radius: 25px 0;
    }

    .formTitle {
      margin-left: 20px;
      font-size: 14px;
    }
    
    .form {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .h2 {
      color: #F8A711;
      text-align: center;
      font-size: 25px;
      margin: 20px;
    }
    
    .h4 {
      color: #070000;
      width: 350px;
      text-align: center;
      font-weight: normal;
      margin: 20px 13px;
      font-size: 13px;
    }

    .formContainer .signupoptionone {
        width: 350px;
        font-size: 12px;
        font-weight: 500;
        padding: 7px;
        color: #fff;
        margin-top: 30px;
        margin-left: 20px;
        background-color: #F8A711;
    }
    
    .formContainer .signupoptiontwo {
        width: 350px;
        font-size: 12px;
        font-weight: 500;
        padding: 7px;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 20px;
        background-color: #F8A711;
    }

    .formContainer .done {
        width: 350px;
        font-size: 12px;
        font-weight: 500;
        padding: 7px;
        color: #fff;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 20px;
        background-color: #F8A711;
      }

      .login {
        color: #070000;
        font-size: 13px;
        margin-top: 10px;
        margin-left: 20px;
      }
      
      .login a {
        cursor: pointer;
        color: #2767DC;
        font-weight: 600;
      }

    /* ---------------------------------------------------------------- MEDIA RESPONSIVENESS-------------------------------------------- */

    @media screen and (max-width : 650px) {
      .mainContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .imageArea {
        max-width: 100%;
      }
      .logoImage {
        width: 100px;
      }
      .loginImage {
        width: 300px;
        height: auto;
      }
      .formArea {
        max-width: 100%;
      }
      .formContainer {
        border-radius: 0%;
        width: 350px;
      }
      /* button[type="submit"] {
        width: 200px;
      } */

    }