.container{
    background-color: pink;
}
.ProfileBody {
  padding: 2rem;
  background-color: #feedcf !important;
  height: calc(100vh - 88px) !important;
  width: 453px !important;
}
.ProfileBody h2::after{
    content: ' ';
    height: 20px;
    background-color: blue;
}
.ProfileBody p {
  margin: 3rem 0;
  padding: 500px;
}
