.lessonContainer{
    display: flex;
    background:  #EFF2F8;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0 20px;
}

.mainBody {
    width: 69%;
    padding-right: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-right: #8C8C8C 1px solid;
}

.mainBody .backBtn{
    color: #F8A711;
    border: none;
    cursor: pointer;
    width: 50px;
}

.descriptionContainer{
    display: flex;
    flex-direction: row;
}

.placeholderImage{
    border-radius: 5px;
    width: 200px;
    height: auto;
}

.courseDescription .descriptionTitle{
    color: #4F4F4F;
    font-weight: 700;
    margin-left: 10px;
    font-size: 17px;
}

.courseDescription .description{
    color: #4F4F4F;
    font-size: 15px;
    margin-left: 10px;
}

.addLessonArea{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    max-width: 800px;
    min-height: 400px;
    border: #F8A711 2px dashed;
    border-radius: 5px;
    background-color: #FFF5E3;
}

.pencilFrame{
    width: 80px;
    height: 80px;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;  
    background-color: #BDBDBD;
    z-index: 1;
    border-radius: 50px;
    border: none;
}

.pencilImage{
    width: 70px;
    height: auto;
}

.addTitle{
    font-weight: 700;
    color: #4F4F4F;
    padding: 5px 20px;
    text-align: center;
    font-size: 17px;
}

.addInstruction{
    color: #8E8E8E;
    text-align: center;
    padding: 5px 20px;
    font-size: 13px;
}

.addLessonBtn{
    background-color: #F8A711;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.lessonContainer .sideBody {
    width: 30%;
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

.sideBody .addLessonCards{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border-radius: 5px;
    background-color: #FEEDCF;
    padding: 20px;
    margin: 20px 0;
}

.cardNumber{
    font-size: 20px;
    font-weight: 700;
    color: #4F4F4F;
}

.cardTitle{
    color: #333333;
}