.container {
  /* background-color: blue; */
}
.formArea {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.imageArea img {
  width: 400px;
  height: auto;
}
.formContainer{
  background-color: white;
  width: 500px;
  padding: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.formContainer > h2 {
  color: #F8A711;
  text-align: center;
}

.formContainer > h4 {
  color: #070000;
  text-align: center;
  font-weight: normal;
  margin-top: 15px;
}
.form {
  margin: 3rem 0;
}
.dataMessage{
  display: block;
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: red;
  animation: anim 1s ease;
}
.h3 {
  color: #070000;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}
.inputGroup{
  position: relative;
  height: fit-content;
  margin-bottom: 10px;
  width: 100%;
}
.inputGroup input {
  padding: 10px 22px 10px 10px;
  display: block !important;
  margin: auto !important;
  background-color: transparent;
  border-radius: 3px;
  outline: none;
  border: 1px solid #2767DC;
  width: 100%;
}
.inputGroup img{
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  height: 1rem;
  z-index: 10;
}
#passwordVisible{
  cursor: pointer;
}
.form button{
  width: 100%;
  background-color: #F8A711;
  padding: 10px;
  border: none;
  display: block;
  margin: 2rem auto 0;
  border-radius: 0.3rem;
  cursor: pointer;
  color: white;
}
.form button img{
  height: 1.5rem;
}
  .line {
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}
.googleBtn, .facebookBtn {
  width: 100%;
  display: block;
  margin: auto;
  border: 1px solid #2767DC;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0.3rem;
  background-color: white;
  cursor: pointer;
}
.googleBtn:hover, .facebookBtn:hover{
  background-color: #F8A711;
  color: white;
  border-color: transparent;
}
.signUp {
  color: #070000;
  font-size: 13px;
  margin-top: 10px;
  margin: auto;
}

.signUp a {
  cursor: pointer;
  color: #2767DC;
  font-weight: 600;
}

/* ---------------------------------------------------------------- MEDIA RESPONSIVENESS-------------------------------------------- */
@media screen and (max-width : 600px) {
  .container{
    padding: 2rem;
  }
  .formArea{
    flex-direction: column;
    justify-content: center;
  }
  .imageArea img {
    width: 350px;
    height: auto;
  
  }
  .formContainer{
    width: 350px;
    margin: auto;
  }

}

/* ---------------------------------------------------------------- MEDIA RESPONSIVENESS-------------------------------------------- */
@media screen and (max-width : 390px) {
  .container{
    padding: 1rem;
  }
  .imageArea img {
    width: 300px;
    height: auto;
  
  }
  .formContainer{
    width: 300px;
  }
}