.quizreward{

    width: 1440px;
    height: 2229px;
    top: 0;
    left: 0;
    background-color: rgba(79, 79, 79, 0.7);
    overflow: hidden;
}

.reward{
    width: 1016px;
    height: 863px;
    margin-left: 263px;
    margin-top: 588px;
    background-color: white;
    display: inline-block;
}
.rewardicon{
    position: absolute;
    top: 104%;
    left: 93%;
    transform: translate(-104%, -93%);
    padding: 10px 20px;
    font-size: 30px;
    background-color: #f8a711;
    border: hidden;
    z-index: 1;
}
.rewardl1{
    color: #62B130;
    margin-left: 433px;
    width: 164px;
    height: 2px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;

}
.rewardl2{
    color: black;
    margin-left: 333px;
    width: 350px;
    height: 30px;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;

}
.rewardl3{
    color: black;
    margin-left: 418px;
    top: 0;
    width: 271px;
    height: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;

}
.rewardl4{
    color: black;
    margin-left: 348px;
    top: 0;
    width: 322px;
    height: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;

}

.rewardbtn{
    margin-top: 200px;
    margin-left: 330px;
}
.rewardbtn1{
    width: 173px;
    height: 48px;
    background-color: white;
    border: 1px solid #f8a711;
    color: #f8a711;
    border-radius: 8px;
}
.rewardbtn2{
    width: 133px;
    height: 48px;
    background-color: white;
    border: 1px solid #f8a711;
    color: #f8a711;
    border-radius: 8px;
    margin-left: 40px;
}
.rewardbtn1:hover, .rewardbtn1.active{
    background-color: #f8a711;
    color: white;
    transition: 0.4s;
}
.rewardbtn2:hover, .rewardbtn2.active{
    background-color: #f8a711;
    color: white;
    transition: 0.4s;
}