.mainbar {
  height: 100%;
  width: 100%;
}

.mainbody {
  margin-top: 30px;
  padding: 0px 30px;
  /* background-color: rgb(82, 55, 55); */
}

.mainnewlesson {
  margin-left: auto;
  background-color: orange;
  color: white;
  font-size: 1.1rem;
  line-height: 30px;
  margin-bottom: 0;
  width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  display: block;


  @media (max-width: 600px) {
    margin-left: 0;
    margin-bottom: 10px;
    line-height: 40px;
    width: 240px;
    height: 40px;
  }
}

.over {
  color: #8c8c8c;
  font-size: 13px;

  @media (max-width: 600px) {
    display: none;
  }
}

.mainlesson {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.totallesson {
  display: flex;
  justify-content: space-between;
  margin: 13px;
  color: #8c8c8c;
}

.totlesson {
  color: #8c8c8c;
  font-size: 12px;
}

.num28 {
  color: black;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 15px;
}

.totalnum {
  display: flex;
  justify-content: space-between;
  margin: 13px;
  color: #8c8c8c;
}

.totnum {
  font-size: 12px;
}

.num400 {
  color: black;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 15px;
}

.lessonprogress {
  display: flex;
  justify-content: space-between;
  margin: 13px;
  color: #8c8c8c;
}

.num28i {
  color: black;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 15px;
}

.lesspro {
  color: #8c8c8c;
  font-size: 12px;
}

.lesson1 {
  width: 326px;
  height: 100px;
  background-color: #feedcf;
  border-radius: 7px;
}

.lesson2 {
  width: 326px;
  height: 100px;
  background-color: #feedcf;
  border-radius: 7px;
}

.lesson3 {
  width: 326px;
  height: 100px;
  background-color: #feedcf;
  border-radius: 7px;
}

.mainlesson1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 1rem;
}

.lesson4 {
  width: 495px;
  height: 100px;
  background-color: #feedcf;
  border-radius: 7px;
}

.lessoncom {
  display: flex;
  justify-content: space-between;
  color: #8c8c8c;
  margin: 13px;
}

.lessoncompleted {
  font-size: 12px;
}

.num28green {
  color: green;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 15px;
}

.lesson5 {
  width: 495px;
  height: 100px;
  background-color: #feedcf;
  border-radius: 7px;
}

.not {
  display: flex;
  justify-content: space-between;
  color: #8c8c8c;
  margin: 13px;
}

.not2 {
  font-size: 12px;
}

.num8 {
  color: red;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 15px;
}

.lessonoverview {
  margin-top: 15px;
}

.see {
  display: flex;
  justify-content: space-between;
  color: #8c8c8c;
  font-size: 13px;
}

table {
  width: 100%;
  border-collapse: collapse;

  @media (max-width: 600px) {
    width: 100%;
  }
}

th {
  padding: 8px;
  text-align: left;
  border: 1px solid #8c8c8c;
  background-color: #fac460;

  @media (max-width: 600px) {
    padding: 5px;
    font-size: 6px;
  }
}

td {
  height: 20px;
  font-size: 12px;
  padding: 8px;
  text-align: center;
  border: 1px solid #8c8c8c;
  background-color: #fde2b0;
  color: #8c8c8c;

  @media (max-width: 600px) {
    padding: 5px;
  }
}

.tb1 {
  display: flex;
  justify-content: space-around;
}

.tb1s1 {
  width: 50px;
  height: 17px;
  background-color: orange;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb1s2 {
  width: 70px;
  height: 17px;
  background-color: green;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb2 {
  display: flex;
  justify-content: space-around;
}

.tb2s1 {
  width: 50px;
  height: 17px;
  background-color: orange;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb2s2 {
  width: 70px;
  height: 17px;
  background-color: green;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb3 {
  display: flex;
  justify-content: space-around;
}

.tb3s1 {
  width: 50px;
  height: 17px;
  background-color: orange;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb3s2 {
  width: 70px;
  height: 17px;
  background-color: green;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb4 {
  display: flex;
  justify-content: space-around;
}

.tb4s1 {
  width: 50px;
  height: 17px;
  background-color: orange;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb4s2 {
  width: 70px;
  height: 17px;
  background-color: green;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb5 {
  display: flex;
  justify-content: space-around;
}

.tb5s1 {
  width: 50px;
  height: 17px;
  background-color: orange;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb5s2 {
  width: 70px;
  height: 17px;
  background-color: green;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb6 {
  display: flex;
  justify-content: space-around;
}

.tb6s1 {
  width: 50px;
  height: 17px;
  background-color: orange;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.tb6s2 {
  width: 70px;
  height: 17px;
  background-color: green;
  border-radius: 3px;
  margin-top: 2px;
  color: white;
}

.page {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 10px;
  margin-left: 51rem;

}

.page1:hover,
.page1.active {
  background-color: orange;
  color: white;
  transition: 0.4s;
}

.page2:hover,
.page2.active {
  background-color: orange;
  color: white;
  transition: 0.4s;
}

.page3:hover,
.page3.active {
  background-color: orange;
  color: white;
  transition: 0.4s;
}

.page4:hover,
.page4.active {
  background-color: orange;
  color: white;
  transition: 0.4s;
}

.page5:hover,
.page5.active {
  background-color: orange;
  color: white;
  transition: 0.4s;
}

.page1 {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  border: 1px solid orange;
  border-radius: 6px;
  color: #8c8c8c;
}

.page2 {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  border: 1px solid orange;
  border-radius: 6px;
  color: #8c8c8c;
}

.page3 {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  border: 1px solid orange;
  border-radius: 6px;
  color: #8c8c8c;
}

.page4 {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  border: 1px solid orange;
  border-radius: 6px;
  color: #8c8c8c;
}

.page5 {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  border: 1px solid orange;
  border-radius: 6px;
  color: #8c8c8c;
}