.searchBg{
    background-color: white;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    width: 800px;
}
.searchInput{
    width: fit-content;
    position: relative;
}
.searchInput input{
    outline: none;
    border: none;
    display: block;
    background-color:#E4E4E4;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    padding: 0.2rem 0 0.2rem 1.5rem;
    border-radius: 0.5rem ;
    width: 350px;
}
.searchInput img{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}