.container{
    background: hsl(0, 0%, 78%);
    height: 100vh;
    width: 100%;
}
.dashboardNav{
    width: fit-content;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 10px;
}
.logo{
    background-color: #0B73F6;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    padding: 2rem 4rem;
    gap: 0.5rem;
}
.logo img{
    
}
.logo h3{
    color: white;
    font-size: 1.3rem;
}
.lowerContents{
    padding: 1rem;
}