.container {
  overflow: auto;
  /* background-color: #fff; */
  height: 100vh;
}
.profileBody{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  /* padding-right: 5rem; */
}
.ProfileInfo {
  padding: 2rem;
  background-color: #feedcf;
  width: 453px;
  position: relative;
}

.ProfileInfo h2 {
  position: relative;
  overflow: hidden;
  padding-bottom: 4px;
  font-size: 24px;
  font-weight: 500;
}
.ProfileInfo h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 44%;
  height: 7px;
  background-color: #546686;
}
.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont1 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
}
.edit{
  position: absolute;
  top: 5%;
  right: 5%;
}
.ProfileInfo p {
  margin: 3rem 0;
  display: flex;
  gap: 50px;
}
.ProfileInfo p span {
  width: 40%;
}
.profileImg img{
  width: 200px;
}

/* MEDI QUERIES */
@media only screen and (max-width: 600px) {
  .ProfileInfo{
    width: 100%;
    padding: 1rem;
    /* background-color: transparent; */
  }
  .profileBody {
    /* grid-template-columns: repeat(1, 1fr); */
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
  }
}
