.container {
  overflow: auto;
  background-color: #fff;
  height: 100vh;
}
.ProfileBody h2 {
  position: relative;
  overflow: hidden;
  padding-bottom: 4px;
  font-size: 24px;
  font-weight: 500;
}
.ProfileBody h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 44%;
  height: 7px;
  background-color: #546686;
}
.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont1 {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
}
.pic {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 50%;
}
.ProfileBody {
  padding: 2rem;
  background-color: #feedcf;
  width: 453px;
}

.ProfileBody p {
  margin: 3rem 0;
  display: flex;
  gap: 50px;
}
.ProfileBody p span {
  width: 40%;
}
