.container {
    width: 100%;
    height: 100vh;
    background:  #EFF2F8;
}

.adminNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    
}

.logo {
    padding-left: 80px;
}

ul {
    display: flex;
    margin: 0 50px;
}

li {
    padding: 20px;
}

.active {
    color: #F8A711;
}

.main {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    margin: 50px 10px;
}

.textBox h1 {
    font-size: 32px;
    width: 213px;
    padding-bottom: 10px;
}

.textBox p {
    font-size: 16px;
    width: 450px;
}

.inputContainer {
    width: 35%;
    height: 500px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
}

.InputPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    width: 410px;
    height: 470px;
    border-radius: 10px;
}

input[type="email"],
input[type="password"] {
  padding: 8px 15px !important;
  margin-bottom: 10px;
  min-width: 90%;
  background-color: #E0E0E0 !important;
  border: none !important;
  border-radius: 3px;
}

form {
    padding: 50px;
}

form h1 {
    padding-bottom: 20px;
    font-size: 24px;
}

form p {
    float: right;
    font-size: 12px;
    color: #F8A711;
}

.LabelItem {
    width: 44px;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    padding-top: 50px;
}

button {
  border-radius: 5px !important;
  cursor: pointer;
  margin-top: 15px;
  width: 370px;
  padding: 8px 15px !important;
  border: none !important;
  color: #fff !important;
  background-color: #F8A711 !important;
}

button:hover {
    border: 1px solid #F8A711 !important;
    color: #F8A711 !important;
    background-color: #FFF !important;
  }