.loginOptionsContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 80vh;
}
  .imageArea img{
    width: 400px;
    height: auto;
  }
  .formContainer{
    background-color: white;
    width: 450px;
    padding: 3rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid #F8A711;
    min-height: 500px;
  }
  .formContainer > h2 {
    color: #F8A711;
    text-align: center;
  }
  
  .formContainer > h4 {
    color: #070000;
    text-align: center;
    font-weight: normal;
    margin: 1rem;
    font-size: 0.7rem;
  }
  .formTitle {
    font-size: 0.8rem;
    margin-top: 2rem;
  }
  
  .formContainer .loginOption {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0;
    color: #86B7F4;
    margin: 10px auto 20px;
    background-color: white;
    border: 1px solid #86B7F4;
    border-radius: 6px;
    cursor: pointer;
  }
  .formContainer .loginOption.active{
    background-color: #F8A711;
    color: white;
    border-color: transparent;
  }
  
  .formContainer .loginOption img{
    height: 1.5rem;
  }
  
  .formContainer .signupOption:hover{
    background-color: #F8A711;
    color: white;
    border-color: transparent;
  }
  .formContainer .continue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 80px auto 0;
    padding: 10px 0px;
    color: white;
    text-decoration: none;
    gap: 1rem;
    font-size: 14px;
    font-weight: 500;
    background-color: #F8A711;
    border-radius: 6px;
  }
  .formContainer .continue.disabled{
    background-color: #ccc;
  }
  
  .login {
    color: #070000;
    font-size: 0.7rem;
    margin-top: 10px;
    text-align: center;
  }
    
  .login a {
    cursor: pointer;
    color: #2767DC;
    font-weight: 600;
  }
  
  /* ---------------------------------------------------------------- MEDIA RESPONSIVENESS-------------------------------------------- */

@media screen and (max-width : 600px) {
  .loginOtionsContainer{
    flex-direction: column;  
  }
  .imageArea img{
    width: 350px;
  }
  .formContainer{
    width: 320px;
    margin: auto;
    padding: 2rem 1rem;
    min-height: fit-content;
  }
  .formContainer .continue{
    margin-top: 40px;
  }


}
@media screen and (max-width : 390px) {
  .imageArea img{
    width: 300px;
  }
  .formContainer{
    width: 270px;
  }
}